#are{
    background-color: black;

}
.container__are{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: wrap;

}
.are__left{
    width: 45%;
}
.are__right{
    width: 45%;
}
.are_right_frame{
    max-width:500px;
    border-radius: 20px;
    
}


.area__desc__text{
    padding: 50px 0;
    color: #57B8FF;
    font-family: Orbitron;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}
.are__title{
    max-width: 684px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    line-height: 74px;
    text-transform: capitalize;
}
.area__text{
    max-width: 721px;
    padding:40px 0;
    color: rgba(223, 223, 223, 0.80);
    font-size: 20px;
    line-height: 30px;
}

@media(max-width:1200px){
   .are__left{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   }
   .are_right{
    margin: 0 auto;
}
}

.light #are{
    background-color: #FFF;
}
.light .are__left *{
    color: black;
}